<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">Form</a></li>
            <li class="main-header__item"><a href="/users">Users</a></li>
        </ul>
    </nav>
</header>