<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <%- include('components/navigation.ejs') %>

        <main>
            <h1>Users</h1>
            <% if (users.length > 0) { %>
                <div>
                    <ul>
                        <% for (let user of users) { %>
                            <li><%= user %></li>
                        <% } %>
                    </ul>
                </div>
            <% } else { %>
                <h1>No users</h1>
            <% } %>
        </main>
    </body>
</html>